@import "normalize";
@import "variables";

:root {
  --blue: #{inspect($blue)};
  --indigo: #{inspect($indigo)};
  --purple: #{inspect($purple)};
  --pink: #{inspect($pink)};
  --red: #{inspect($red)};
  --orange: #{inspect($orange)};
  --yellow: #{inspect($yellow)};
  --green: #{inspect($green)};
  --teal: #{inspect($teal)};
  --cyan: #{inspect($cyan)};
  --white: #{inspect($white)};
  --gray: #{inspect($gray)};
  --gray-dark: #{inspect($gray-dark)};
  --primary: #{inspect($primary)};
  --secondary: #{inspect($secondary)};
  --success: #{inspect($success)};
  --info: #{inspect($info)};
  --warning: #{inspect($warning)};
  --danger: #{inspect($danger)};
  --light: #{inspect($light)};
  --dark: #{inspect($dark)};
  --breakpoint-xs: #{inspect($breakpoint-xs)};
  --breakpoint-sm: #{inspect($breakpoint-sm)};
  --breakpoint-md: #{inspect($breakpoint-md)};
  --breakpoint-lg: #{inspect($breakpoint-lg)};
  --breakpoint-xl: #{inspect($breakpoint-xl)};
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --font-family-monospace: #{inspect($font-family-monospace)};
}
@import "typography";
@import "text";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $body-color;
  text-decoration: none;
  transition: $all-transitions;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

body {
  background: $body-background-color;
  color: $body-color;
  font-family: var(--font-family-sans-serif);
  background-color: $body-background-color;
  font-size: $font-size-base;
}

//loading动画

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  background: rgba($color: $body-background-color, $alpha: 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex + 99;
  &-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after,
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $warning;
    }

    &::before {
      border-color: $white;
    }

    &::before {
      animation: loading 5s linear infinite;
    }

    &::after {
      animation: loading 5s linear infinite reverse;
    }
  }
}

.header {
  &-navbar {
    .navbar-brand {
      img {
        width: 150px;
        height: 39px;
      }
    }
    &-bg {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: $zindex-navbar;
      background: $header-background-color;
      margin-top: 0;
      -webkit-backface-visibility: hidden;
      transition: $all-transitions;
    }

    .nav-item {
      position: relative;

      margin-left: 40px;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 2px;
        background: $gold;
        opacity: 0;
        transition: $all-transitions;
      }
      &.active,
      &:hover {
        &::before {
          top: 0;
          bottom: unset;
          opacity: 1;
        }
        a {
          color: $gold;
        }
      }
      .nav-link {
        text-transform: uppercase;
        font-weight: 600;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.btn-gold {
  border: 1px solid $gold;
  color: $gold;
  font-weight: 500;
  font-family: Crimson Text, serif;
  padding: 10px 20px;
  text-decoration: none;
  font-style: italic;
  &:hover {
    background-color: $gold;
    border-color: $gold;
    color: $black;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  &-title {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-sub {
      font-family: Crimson Text, serif;
      font-size: 13px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $gold;
      border-bottom: 1px solid $gold;
      margin-bottom: 10px;
    }
    h2 {
      font-family: Crimson Text, serif;
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 10px;
    }

    &.left {
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
      width: auto;
    }
  }

  &-desc {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 1.7;

    &.left {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-bg {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .overlay {
    background-color: #364250;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    &.dark {
      opacity: 0.8;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &-call {
    background-image: url(/static/images/call/bg.jpg);
  }

  &-3 {
    position: relative;
    background: url(../images/home/section-3.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;

    .container {
      position: relative;
      z-index: 2;
    }
  }

  &-5 {
    background: #222f3d url(../images/home/section-5.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }

  &-quote {
    text-align: center;
    svg {
      fill: #ffc999;
      margin-bottom: 30px;
      width: 65px;
    }
  }
  &-7 {
    background: url(../images/home/section-7.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    .container {
      position: relative;
      z-index: 2;
    }
  }

  .testimonial {
    &-body {
      text-align: center;
      padding-left: 180px;
      padding-right: 180px;

      h4 {
        line-height: 1.7;
        color: $white;
      }
    }

    &-client {
      text-transform: uppercase;
      color: $white;
    }

    &-company {
      font-style: italic;
    }
  }
}

.banner {
  &-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &::before {
      content: "";
      background: rgba(43, 73, 108, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
    }

    &.dark {
      &::before {
        background: rgba(43, 73, 108, 0.5);
      }
    }

    video {
      position: absolute;
      left: 50%;
      width: auto;
      height: auto;
      top: 50%;
      min-width: 130%;
      min-height: 130%;
      transform: translateX(-50%) translateY(-50%);
    }

    &-text {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      h1 {
        font-family: Crimson Text, serif;
        color: #fff;
        font-size: 4.5rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1.2;
      }
      h5 {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 10px;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Crimson Text, serif;
  text-transform: uppercase;
}

.arch {
  border-radius: 99em 99em 0 0;
}
.nav-tabs {
  border-bottom: 0;
  .nav-link {
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    position: relative;
    padding-left: 0;
    padding-right: 0;

    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
    &::before {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      content: "";
      display: block;
      height: 1px;
      background: $gold;
      margin: 0 auto;
      opacity: 0;
      transition: $all-transitions;
    }
    &.active,
    &:hover {
      background: transparent;
      color: $gold;
      &::before {
        top: 5px;
        opacity: 1;
      }
    }
  }
}
.home {
  &-img {
    width: 100%;
    height: auto;
  }

  &-info-box {
    line-height: 1.7;
    &-left {
      text-align: right;
    }

    &-right {
      text-align: left;
    }
    h5 {
      text-transform: uppercase;
      color: $white;
      margin-top: 10px;
    }

    & + & {
      margin-top: 50px;
    }
  }

  &-carousel {
    margin-left: 40px;
    margin-right: 40px;
    .carousel-inner {
      img {
        border-radius: 99em 99em 0em 0em;
      }
    }
  }
}

.carousel {
  &-common {
    img {
      width: 100%;
    }
  }
}

.about {
  .banner-container {
    background-image: url("../images/about/bg.jpg");
  }

  .section {
    &-1 {
      padding-bottom: 200px;
    }
    &-2 {
      background: #222f3d;
      .carousel {
        &-common {
          width: 80%;
          margin: 0 auto;
          margin-top: -200px;
          margin-bottom: 40px;
        }
      }
    }

    &-3 {
      background: none;
      .menu-item-img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::after {
          position: absolute;
          z-index: 0;
          content: "";
          display: block;
          width: 60px;
          height: 60px;
          background-color: #ffc999;
          border-radius: 99em;
        }
        svg {
          position: relative;
          z-index: 2;
          width: 40px;
          height: 40px;
          fill: #fff;
        }
      }

      &-left {
        position: relative;
        img {
          width: 60%;
          position: absolute;
          &:last-child {
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
.special {
  .banner-container {
    background-image: url("../images/special/bg.jpg");
  }
}
.menu {
  .banner-container {
    background-image: url("../images/menu/bg.jpg");
  }
}

.contact {
  .banner-container {
    background-image: url("../images/contact/bg.jpg");
  }
}
.post-img {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    transition: $all-transitions;
  }
  &-overlay {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    &-title {
      color: $gold;
    }

    &-content {
      transition: $all-transitions;
      color: #fff;
      margin-left: -50px;
      opacity: 0;
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
      opacity: 0.5;
    }

    .post-img {
      &-overlay {
        &-content {
          transform: translateX(50px);
          opacity: 1;
        }
      }
    }
  }
}

.menu-item {
  flex: 1 1 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &-img {
    width: 90px;
    img {
      max-width: 100%;
      border-radius: 50%;
    }
  }

  &-content {
    margin-left: 20px;
    width: 100%;
    h4 {
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 0;
    }
    p {
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 5px;
      font-style: italic;
    }
  }

  &-price {
    color: $gold;
    margin-left: 20px;
  }
}
.contact-form {
  .form-control {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.8);
    &::placeholder {
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }
}

.footer {
}
@media (max-width: 1024px) {
  .header {
    &-navbar {
      .nav-item {
        margin-left: 0;
        &::before {
          top: 0;
        }
        &.active,
        &:hover {
          &::before {
            top: 100%;
            opacity: 1;
          }
        }
      }
    }
  }

  .section {
    padding-top: 20px;
    padding-bottom: 20px;
    &-title {
      h2 {
        font-size: calc(1.7rem + 0.7vw);
      }
    }
    &-desc {
      padding-left: 0;
      padding-right: 0;
    }

    .testimonial {
      &-body {
        padding-left: 40px;
        padding-right: 40px;

        h4 {
          font-size: calc(1rem + 0.3vw);
        }
      }
    }
  }

  .banner {
    &-container {
      margin-bottom: 20px;

      &-text {
        transform: translateY(-50%);
        h1 {
          font-size: calc(1.5rem + 4vw);
        }
      }
    }
  }

  .home {
    &-info-box {
      line-height: 1.7;
      &-left {
        text-align: left;
      }

      &-right {
        text-align: left;
      }

      & + & {
        margin-top: 20px;
      }
    }

    &-carousel {
      margin-left: 0;
      margin-right: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      &-inner {
        img {
          border-radius: 99em 99em 0em 0em;
        }
      }
    }

    .nav-tabs {
      border-bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between !important;
      .nav-link {
        margin-left: unset;
        font-size: 12px;
      }
    }
  }

  .menu-item {
    &-img {
      width: 90px;
      img {
        max-width: 100%;
        border-radius: 50%;
      }
    }

    &-content {
      h4 {
        font-size: 18px;
      }
    }
  }

  .footer {
    text-align: center !important;
    .text-right {
      text-align: center !important;
    }
  }

  .about {
    .section {
      &-1 {
        padding-bottom: 80px;
      }
      &-2 {
        background: #222f3d;
        .carousel {
          &-common {
            width: 100%;

            margin-top: unset;
          }
        }
      }

      &-3 {
        background: none;

        &-left {
          position: relative;
          img {
            width: 100%;
            position: unset;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.scrollup {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  border: 1px solid #ffc999;
  color: #ffc999;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  z-index: $zindex;
  svg {
    fill: #ffc999;
    width: 10px;
    padding-top: 9px;
  }
}

