@import "variables";
@import "fonts";
@import "normalize";

:root {
  --blue: #{inspect($blue)};
  --indigo: #{inspect($indigo)};
  --purple: #{inspect($purple)};
  --pink: #{inspect($pink)};
  --red: #{inspect($red)};
  --orange: #{inspect($orange)};
  --yellow: #{inspect($yellow)};
  --green: #{inspect($green)};
  --teal: #{inspect($teal)};
  --cyan: #{inspect($cyan)};
  --white: #{inspect($white)};
  --gray: #{inspect($gray)};
  --gray-dark: #{inspect($gray-dark)};
  --primary: #{inspect($primary)};
  --secondary: #{inspect($secondary)};
  --success: #{inspect($success)};
  --info: #{inspect($info)};
  --warning: #{inspect($warning)};
  --danger: #{inspect($danger)};
  --light: #{inspect($light)};
  --dark: #{inspect($dark)};
  --breakpoint-xs: #{inspect($breakpoint-xs)};
  --breakpoint-sm: #{inspect($breakpoint-sm)};
  --breakpoint-md: #{inspect($breakpoint-md)};
  --breakpoint-lg: #{inspect($breakpoint-lg)};
  --breakpoint-xl: #{inspect($breakpoint-xl)};
  --font-family-base: #{inspect($font-family-base)};
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --font-family-monospace: #{inspect($font-family-monospace)};
}
@import "typography";
@import "text";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $body-color;
  text-decoration: none;
  transition: $all-transitions;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

body {
  background: $body-background-color;
  color: $body-color;
  font-family: var(--font-family-base);
  background-color: $body-background-color;
  font-size: $font-size-base;
}

//loading动画

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  background: rgba($color: $body-background-color, $alpha: 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex + 99;
  &-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after,
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $warning;
    }

    &::before {
      border-color: $white;
    }

    &::before {
      animation: loading 5s linear infinite;
    }

    &::after {
      animation: loading 5s linear infinite reverse;
    }
  }
}

.header {
  &-navbar {
    &-bg {
      background-color: #fff;
      transition: $all-transitions;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
    .navbar-brand {
      position: relative;
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;
      padding: 20px;
      background-color: #fff;
      text-transform: uppercase;
      color: $primary;
      font-weight: 900;
      font-family: Times New Rom;

      img {
        width: 150px;
        height: 39px;
      }
    }

    .nav-item {
      position: relative;
      margin-left: 40px;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 2px;
        background: $primary;
        opacity: 0;
        transition: $all-transitions;
      }
      &.active,
      &:hover {
        &::before {
          top: 0;
          bottom: unset;
          opacity: 1;
        }
        a {
          color: $primary;
        }
      }
      .nav-link {
        text-transform: uppercase;
        font-weight: 600;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.btn-gold {
  border: 1px solid $gold;
  color: $gold;
  font-weight: 500;
  font-family: Crimson Text, serif;
  padding: 10px 20px;
  text-decoration: none;
  font-style: italic;
  &:hover {
    background-color: $gold;
    border-color: $gold;
    color: $black;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  &-title {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-sub {
      font-family: Crimson Text, serif;
      font-size: 13px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $gold;
      border-bottom: 1px solid $gold;
      margin-bottom: 10px;
    }
    h2 {
      font-family: Crimson Text, serif;
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 10px;
    }

    &.left {
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
      width: auto;
    }
  }

  &-desc {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 1.7;

    &.left {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-bg {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .overlay {
    background-color: #364250;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    &.dark {
      opacity: 0.8;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: Times New Rom;
  text-transform: uppercase;
}

.contact-form {
  .form-control {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.8);
    &::placeholder {
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }
}

.footer {
}

.scrollup {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  border: 1px solid #ffc999;
  color: #ffc999;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  z-index: $zindex;
  svg {
    fill: #ffc999;
    width: 10px;
    padding-top: 9px;
  }
}

.home {
  &-carousel {
    position: relative;
    z-index: 1;
    h1 {
      width: 50%;
      font-size: 100px;
      color: #0c0a05;
      padding-top: 30px;
      text-transform: uppercase;
      line-height: 90px;
      font-family: Times New Rom;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      &-img {
        width: 30%;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }

    &-nav {
      position: absolute;
      left: 5%;

      bottom: 10%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background-color: $primary;
        width: 50px;
        height: 50px;
        opacity: 1;
        border-radius: 50%;
        position: static;
        & + button {
          margin-left: 20px;
        }
      }
    }
  }
  .section {
    &-1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url("../images/home/banner-bg.png");
      min-height: 100vh;
    }
  }
}

@import "responsive";
